<section id="contacto" class="inverted">
  <div class="centered">
    <h1>Contáctame</h1>
    <form action="./dos.html" id="contact-form" class="two-columns">
      <div class="contact-data">
        <p>
          <label for="form-name">Nombre:</label>
          <input type="text" name="name" id="form-name" placeholder="Escribe tu nombre" />
        </p>
        <p>
          <label for="form-email">e-mail:</label>
          <input type="email" name="email" id="form-email" placeholder="Escribe tu correo electrónico" />
        </p>
        <p>
          <label for="form-subject">Asunto</label>
          <input type="text" name="subject" id="form-subject" placeholder="De qué va tu mensaje" />
        </p>
      </div>
      <div class="message-data">
        <p>
          <label for="form-message">Mensaje:</label>
          <textarea name="message" id="form-message" cols="30" rows="10" placeholder="Deja tu mensaje"></textarea>
        </p>
        <p>
          <button type="submit">Enviar</button>
        </p>
      </div>
    </form>
  </div>
</section>
</main>


<footer class="footer">
  <!-- Contact information and social network -->
  <aside class="contact">
    <ul class="contact-list">
      <li><a href="https://github.com/Josu-Rubio" target="_blank"><img src="images/logo/github.png" alt="github"></a>
      </li>
      <li><a href="https://www.linkedin.com/in/josue-rubio/" target="_blank"><img src="images/logo/linkedin.png"
            alt="linkedin"></a>
      </li>
    </ul>
  </aside>
  <aside class="social">
    <ul class="social-list">
      <li><a href="https://www.facebook.com/josu.mr" target="_blank"><img src="images/logo/facebook.png"
            alt="facebook"></a>
      </li>
      <li><a href="https://twitter.com/JosuRubio" target="_blank"><img src="images/logo/twitter.png" alt="twitter"></a>
      </li>
      <li><a href="https://www.instagram.com/josurbio/" target="_blank"><img src="images/logo/instagram.png"
            alt="instragram"></a></li>
    </ul>
  </aside>
</footer>

</body>

</html>