<section id="contact" class="inverted">
  <h1>
    <%= __('Contáctame')%>
  </h1>
  <div class="info">
    <div class="photo"><img src="images/main.png" alt="Josué Moreira Rubio"></div>
    <div class="personal-info">
      <p>Josué Moreira Rubio</p>
      <p>+34 655743739</p>
      <p>josu_mr@hotmail.com</p>
      <p>Huelva (<%= __('España')%>)</p>
      <a href="mailto:josu_mr@hotmail.com"><button>
          <%= __('Contáctame')%>
        </button></a>

    </div>
  </div>

</section>
</main>


<footer class="footer">
  <!-- Contact information and social network -->
  <aside class="contact">
    <div class="contact-list">
      <a href="https://github.com/Josu-Rubio" target="_blank"><img src="images/logo/github.png" alt="github"></a>

      <a href="https://www.linkedin.com/in/josue-rubio/" target="_blank"><img src="images/logo/linkedin.png"
          alt="linkedin"></a>

    </div>
  </aside>

  <main class="copyright">
    <p>© Copyright 2021, Josué Rubio <%= __('Todos los derechos reservados')%>
    </p>
  </main>

  <aside class="social">
    <div class="social-list">
      <a href="https://www.facebook.com/josu.mr" target="_blank"><img src="images/logo/facebook.png" alt="facebook"></a>

      <a href="https://twitter.com/JosuRubio" target="_blank"><img src="images/logo/twitter.png" alt="twitter"></a>

      <a href="https://www.instagram.com/josurbio/" target="_blank"><img src="images/logo/instagram.png"
          alt="instragram"></a>
    </div>
  </aside>
</footer>

</body>

</html>