<!-- Navigation Links -->
<ul class="navbar-list">
    <li class="navbar-item"><a href="#header">Inicio</a></li>
    <li class="navbar-item"><a href="#working-experience">Experiencia Laboral</a></li>
    <li class="navbar-item"><a href="#languages">Idiomas</a></li>
    <li class="navbar-item"><a href="#studies">Formación</a></li>
    <li class="navbar-item"><a href="#more-data">Otros Datos</a></li>
    <li class="navbar-item"><a href="#contacto">Contacto</a></li>
</ul>