<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=viewport, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equip="X-UA-Compatible" content="ie-edge">
    <title>Josué Rubio</title>

    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/social.css">
    <link rel="stylesheet" href="stylesheets/navbar-flexbox.css">
    <link rel="stylesheet" href="stylesheets/header-flexbox.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/working-experience.css">
    <link rel="stylesheet" href="stylesheets/languages.css">
    <link rel="stylesheet" href="stylesheets/contact.css">
    <link rel="stylesheet" href="stylesheets/animations.css">
    <link rel="stylesheet" href="stylesheets/studies.css">


</head>

<body>
    <nav class="navbar">
        <!-- Web Name -->
        <div class="logo">Josué Rubio</div>
        <!-- Navigation Links -->
        <ul class="navbar-list">
            <li class="navbar-item"><a href="#header">Inicio</a></li>
            <li class="navbar-item"><a href="#working-experience">Experiencia Laboral</a></li>
            <li class="navbar-item"><a href="#languages">Idiomas</a></li>
            <li class="navbar-item"><a href="#studies">Formación</a></li>
            <li class="navbar-item"><a href="#contacto">Contacto</a></li>
        </ul>

    </nav>
    <main>
        <br>
        <br>
        <br>

        ERROR - 404 NOT FOUND

    </main>

    <!-- <footer class="footer"> -->
    <!-- Contact information and social network -->

    <!-- </footer> -->

</body>

</html>