<footer class="footer">
  <!-- Contact information and social network -->
  <aside class="contact">
    <ul class="contact-list">
      <li><a href="https://github.com/Josu-Rubio"><img src="images/logo/github.png" alt="github"></a>
      </li>
      <li><a href="https://www.linkedin.com/in/josue-rubio/"><img src="images/logo/linkedin.png" alt="linkedin"></a>
      </li>
    </ul>
  </aside>
  <aside class="social">
    <ul class="social-list">
      <li><a href="https://www.facebook.com/josu.mr"><img src="images/logo/facebook.png" alt="facebook"></a>
      </li>
      <li><a href="https://twitter.com/JosuRubio"><img src="images/logo/twitter.png" alt="twitter"></a>
      </li>
      <li><a href="https://www.instagram.com/josurbio/"><img src="images/logo/instagram.png" alt="instragram"></a></li>
    </ul>
  </aside>
</footer>

</body>

</html>