.info {
  display: flex;
  justify-content: space-around;
}

.photo {
  margin: 1rem;
}

.personal-info {
  margin: 1rem;
  text-align: right;
  font-size: 1.5rem;
}

.personal-info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.personal-info button:hover {
  background: dodgerblue;
  color: white;
}

@media all and (max-width: 768px) {
  .info {
    flex-direction: column;
  }
  .photo {
    margin: auto;
  }
  .personal-info {
    text-align: center;
  }
}
