.footer {
  background-color: black;
  color: aliceblue;
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.social-list a {
  margin: 0 0.5rem;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.contact-list a {
  margin: 0 0.5rem;
}

.personal-info {
  text-align: center;
}

.copyright {
  color: gray;
}

@media all and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact-list {
    list-style-type: none;
    text-align: center;
  }

  .contact a::after {
    content: none;
  }
}
