.header {
  height: 100vh;
  background: url(../images/header.jpg) no-repeat top center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40vw;
  padding-right: 5rem;
}

@keyframes caida {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes subida {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.header > h1 {
  opacity: 0;
  animation: caida 1s ease-in 1s;
  animation-fill-mode: forwards;
}

.header > .tagline {
  opacity: 0;
  animation: subida 1s ease-in 1s;
  animation-fill-mode: forwards;
}

.header > h1 {
  font-weight: 100;
}

.header > h1 > span {
  display: block;
  font-weight: bold;
}
@media all and (max-width: 1250px) {
  .header {
    background: url(../images/header-mini.jpg) no-repeat top center;
  }
}

@media all and (max-width: 768px) {
  .header {
    background: white;
    padding: 1rem;
  }

  .header > h1,
  .header > .tagline {
    /* background-color: rgba(255, 255, 255, 0.5); */
    margin: 0;
    padding: 1rem;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
  }
}
