.two-columns {
  display: flex;
  justify-content: space-between;
}

.biography {
  flex: 0 1 60%;
}

.skills {
  flex: 0 1 50%;
}

.skill-name {
  text-align: right;
  margin-top: 1rem;
}

.skillbar-outer {
  border: solid 1px lightblue;
  height: 20px;
  padding: 2px;
  /* 20px - 2px(border) = 18px
       18px - 14px(inner) = 4px
       arriba + abajo = 4px / 2 = 2px
       */
  border-radius: 10px;
  margin: 0.25rem 0 1rem 0;
}

.skillbar-inner {
  background-color: lightskyblue;
  /* margin: 2px; */
  height: 14px;
  border-radius: 10px;
  width: 0;
}

.skill-100 {
  width: 100%;
}

.skill-80 {
  width: 80%;
}

.skill-60 {
  width: 60%;
}

.skill-40 {
  width: 40%;
}
.skill-20 {
  width: 20%;
}

@media all and (max-width: 768px) {
  .two-columns {
    flex-direction: column-reverse;
    margin: auto 0.5rem;
  }

  .two-columns img {
    display: block;
    margin: 0 auto;
  }

  .skills {
    width: 90%;
    margin: 0 auto;
  }
}
