<%- include('../../partials/header'); %>
    <%- include ('../../partials/navigation'); %>
        </nav>

        <section id="studies">
            <h1>Formación</h1>

            <div class="grid-container">
                <article class="grid-item">
                    <h2>Bootcamp Full Stack Web</h2>
                    <img src="images/Formación/keepcoding.jpg" alt="Keepcoding" />
                    <p class="formacion-name">KeepCoding España</p>
                    <p class="formacion-date">11/2019 - 08/2020</p>
                    <p>Madrid (Online)</p>
                </article>

                <article class="grid-item">
                    <h2>Curso de TCP</h2>
                    <img src="images/formación/cae.jpg" alt="CAE" />
                    <p class="formacion-name">Escuela de Aeronavegación CAE</p>
                    <p class="formacion-date">10/2013</p>
                    <p>Barcelona</p>
                </article>

                <article class="grid-item">
                    <h2>Postgrado de Especialista en Dirección y Gestión Hotelera</h2>
                    <img src="images/formación/pabloolavide.jpg" alt="Pablo de Olavide" />
                    <p class="formacion-name">Universidad Pablo de Olavide</p>
                    <p class="formacion-date">10/2012 – 06/2013</p>
                    <p>Sevilla</p>
                </article>

                <article class="grid-item">
                    <h2>Título Superior Universitario de Dirección Hotelera</h2>
                    <img src="images/formación/eshs.jpg" alt="Escuela de hostelería de Sevilla" />
                    <p class="formacion-name">Escuela de Hostelería “Taberna del Alabardero”</p>
                    <p class="formacion-date">10/2009 – 06/2013</p>
                    <p>Sevilla</p>
                </article>

                <article class="grid-item">
                    <h2>Educación Secundaria y Bachillerato</h2>
                    <img src="images/formación/maristashuelva.jpg" alt="Hermanos Maristas" />
                    <p class="formacion-name">Colegio Colón Hermanos Maristas</p>
                    <p>Huelva</p>
                </article>
            </div>

        </section>



        <%- include ('../../partials/footer'); %>