<%- include('../partials/header'); %>

    <header id="header" class="header">

        <h1>
            Hola, mi nombre es <span>Josué Rubio</span> y este es mi currículum.
        </h1>

        <p class="tagline">
            Joven entusiasta con grandes cualidades administrativas y de gestión, creando una carrera profesional como
            <strong>Full Stack Web Developer</strong>. Con extraordinarias dotes de liderazgo y habilidad para la toma
            de decisiones.
            Facilidad para trabajar en equipo y persistencia a la hora de alcanzar los resultados deseados. Buenas
            habilidades sociales y capacidad de comunicación.
        </p>

    </header>
    <main>

        <section id="working-experience">
            <h1>Experiencia Laboral</h1>

            <div class="flex-card-container">

                <article class="flex-card">
                    <img src="images/experience/web-developer.jpg" alt="Web Developer" />
                    <div class="info">
                        <h2>Full Stack Web Developer</h2>
                        <span class="cards--two__rect"></span>
                        <p class="description">
                            Creation in progress...
                        </p>
                    </div>
                </article>

                <article class="flex-card">
                    <img src="images/experience/management.png" alt="management" />
                    <div class="info">
                        <h2>Dirección y Operaciones</h2>
                        <p class="description">
                            Click for more info
                        </p>
                        <a href="#"><button>Ver Experiencia</button></a>
                    </div>
                </article>

                <article class="flex-card">
                    <img src="images/experience/plane-world.jpg" alt="TCP" />
                    <div class="info">
                        <h2>TCP - Azafato de Vuelo</h2>
                        <p class="description">
                            Click for more info
                        </p>
                        <a href="#"><button>Ver Experiencia</button></a>
                    </div>
                </article>

                <article class="flex-card">
                    <img src="images/experience/hosteleria.jpg" alt="hostelero" />
                    <div class="info">
                        <h2>Hostelero</h2>
                        <p class="description">
                            Click for more info
                        </p>
                        <a href="#"><button>Ver Experiencia</button></a>
                    </div>
                </article>
            </div>
        </section>

        <section id="languages" class="inverted">
            <div class="centered">
                <h1>Lenguajes / Idiomas</h1>
                <div class="two-columns">

                    <div class="people">
                        <h2>Para hablar con personas</h2>
                        <img src="images/people.jpg" alt="people" />
                        <div class="skill-name">Español</div>
                        <div class="skillbar-outer">
                            <div class="skillbar-inner skill-100"></div>
                        </div>
                        <div class="skill-name">Inglés</div>
                        <div class="skillbar-outer">
                            <div class="skillbar-inner skill-80"></div>
                        </div>
                        <div class="skill-name">Alemán</div>
                        <div class="skillbar-outer">
                            <div class="skillbar-inner skill-40"></div>
                        </div>
                        <div class="skill-name">Francés</div>
                        <div class="skillbar-outer">
                            <div class="skillbar-inner skill-20"></div>
                        </div>
                    </div>

                    <div class="machines">
                        <h2>Para hablar con máquinas</h2>
                        <img src="images/machine.jpg" alt="machine" />
                        <div class="skill-name">HTML</div>
                        <div class="skillbar-outer">
                            <div class="skillbar-inner skill-80"></div>
                        </div>
                        <div class="skill-name">CSS</div>
                        <div class="skillbar-outer">
                            <div class="skillbar-inner skill-40"></div>
                        </div>
                        <div class="skill-name">JavaScript</div>
                        <div class="skillbar-outer">
                            <div class="skillbar-inner skill-60"></div>
                        </div>
                        <div class="skill-name">React</div>
                        <div class="skillbar-outer">
                            <div class="skillbar-inner skill-40"></div>
                        </div>
                        <div class="skill-name">Redux</div>
                        <div class="skillbar-outer">
                            <div class="skillbar-inner skill-40"></div>
                        </div>
                        <div class="skill-name">MongoDB</div>
                        <div class="skillbar-outer">
                            <div class="skillbar-inner skill-80"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="studies">
            <h1>Formación</h1>

            <div class="grid-container">
                <article class="grid-item">
                    <h2>Bootcamp Full Stack Web</h2>
                    <img src="images/Formación/keepcoding.jpg" alt="Keepcoding" />
                    <p class="formacion-name">KeepCoding España</p>
                    <p class="formacion-date">11/2019 - 08/2020</p>
                    <p>Madrid (Online)</p>
                </article>

                <article class="grid-item">
                    <h2>Curso de TCP</h2>
                    <img src="images/formación/cae.jpg" alt="CAE" />
                    <p class="formacion-name">Escuela de Aeronavegación CAE</p>
                    <p class="formacion-date">10/2013</p>
                    <p>Barcelona</p>
                </article>

                <article class="grid-item">
                    <h2>Postgrado de Especialista en Dirección y Gestión Hotelera</h2>
                    <img src="images/formación/pabloolavide.jpg" alt="Pablo de Olavide" />
                    <p class="formacion-name">Universidad Pablo de Olavide</p>
                    <p class="formacion-date">10/2012 – 06/2013</p>
                    <p>Sevilla</p>
                </article>

                <article class="grid-item">
                    <h2>Título Superior Universitario de Dirección Hotelera</h2>
                    <img src="images/formación/eshs.jpg" alt="Escuela de hostelería de Sevilla" />
                    <p class="formacion-name">Escuela de Hostelería “Taberna del Alabardero”</p>
                    <p class="formacion-date">10/2009 – 06/2013</p>
                    <p>Sevilla</p>
                </article>

                <article class="grid-item">
                    <h2>Educación Secundaria y Bachillerato</h2>
                    <img src="images/formación/maristashuelva.jpg" alt="Hermanos Maristas" />
                    <p class="formacion-name">Colegio Colón Hermanos Maristas</p>
                    <p>Huelva</p>
                </article>
            </div>

        </section>

        <section id="contacto" class="inverted">
            <div class="centered">
                <h1>Contáctame</h1>
                <form action="./dos.html" id="contact-form" class="two-columns">
                    <div class="contact-data">
                        <p>
                            <label for="form-name">Nombre:</label>
                            <input type="text" name="name" id="form-name" placeholder="Escribe tu nombre" />
                        </p>
                        <p>
                            <label for="form-email">e-mail:</label>
                            <input type="email" name="email" id="form-email"
                                placeholder="Escribe tu correo electrónico" />
                        </p>
                        <p>
                            <label for="form-subject">Asunto</label>
                            <input type="text" name="subject" id="form-subject" placeholder="De qué va tu mensaje" />
                        </p>
                    </div>
                    <div class="message-data">
                        <p>
                            <label for="form-message">Mensaje:</label>
                            <textarea name="message" id="form-message" cols="30" rows="10"
                                placeholder="Deja tu mensaje"></textarea>
                        </p>
                        <p>
                            <button type="submit">Enviar</button>
                        </p>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <%- include ('../partials/footer'); %>